@model ProjetoFinal.Models.Publication

<div class="card-confirm">
    <div method="post">
        <form asp-action="DeletePost" asp-route-id="@Model.IdPub">
            <p>You are about to delete your Gluglu </p>
            <p>Are you really sure?</p>
            <button class="btn btn-danger" type="submit">Confirm</button>
            <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Profile">Cancel</a>
        </form>
    </div>
</div>

<style>
    body {
        background-image: url("/background-images/mainbackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-confirm {
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 16%;
        padding: 30px;
        font-size: 15pt;
        border: 1px;
        border-radius: 50px;
    }
</style>