@model ProjetoFinal.Models.UserViewModel

<form asp-action="Delete" asp-route-id="@Model.UserId">
        <p>You are about to delete your account. Are you really sure?</p>
        <button class="btn btn-danger" type="submit">Confirm</button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpdateUser" asp-route-id="@Model.UserId">Cancel</a>
</form>