@model ProjetoFinal.Models.UserViewModel
@{
ViewData["Title"] = "Delete account";
}

@*Page that ask the user if the user wants to delete the account*@

<div class="card-confirm">
    <form asp-action="Delete" asp-route-id="@Model.UserId">
        <p>You are about to delete your Fish account. Do you really want to explore the Ocean alone? </p>
        <button class="btn btn-danger" type="submit">Yes</button>
        <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Profile"
            asp-route-id="@Model.UserId">No, because I'm Fish</a>
    </form>
</div>

<style>
    body {
        background-image: url("/background-images/mainbackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-confirm {
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 16%;
        padding: 30px;
        font-size: 15pt;
        border: 1px;
        border-radius: 50px;
    }
</style>