@model ProjetoFinal.Models.Publication
@{
ViewData["Title"] = "Edit Gluglu";
}

@*Page that allows the user to edit the user profile details*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPublication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="contentContainer">
                <div class="twitter boxContainer">
                    <label class="twitter tweetHeader"><b>Update your Gluglu</b></label>
                    <div class="lineSplit"></div>
                    <textarea class="messageBox" asp-for="Text"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                    <br />
                    <label class="wordCounter">The maximum number of characters is 140</label>
                    <input type="submit" class="postButton" id="submitPost" value="Gluglu" />
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    body {
        background-image: url("/background-images/mainbackground.jpg");
        background-size: cover;
        background-repeat: no-repeat
    }

    .contentContainer {
        left: 0;
        position: absolute;
        width: 100%;
        height: 80%;
        padding-top: 5%;
    }

    .twitter.boxContainer {
        width: 810px;
        height: 380px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        background-color: #FFFFFF;
    }

    .twitter.boxContainer div.lineSplit {
        width: 100%;
        height: 1px;
        background: #dcdee3;
    }

    .twitter.boxContainer .tweetHeader {
        color: black;
        font-size: 21pt;
        font-weight: 500;
        overflow: hidden;
        line-height: 35px;
        margin-left: 30px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .twitter.boxContainer .messageBox {
        width: 93%;
        padding: 5px;
        resize: none;
        height: 150px;
        color: #292F33;
        display: block;
        font-size: 15pt;
        font-weight: 200;
        margin: 10px auto;
        border-radius: 3px;
        border: 1px solid #a3d4f2;
        margin-top: 50px;
    }

    .twitter.boxContainer .messageBox:focus {
        outline: none;
    }

    .twitter.boxContainer .wordCounter {
        background-color: transparent;
        color: #8899a6;
        display: inline-block;
        width: 70%;
        border: 0;
        margin-left: -8%;
        position: relative;
        text-align: left;
        font-size: 14px;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }

    .twitter.boxContainer .postButton {
        width: 90px;
        height: 40px;
        border: none;
        float: right;
        color: #FFFFFF;
        display: block;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        margin: -10px 27px 0px 5px;
        background-color: #1b95e0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: 5px 6px;
        border: 1px solid transparent;
    }
</style>