@model ProjetoFinal.Models.User
@{
ViewData["Title"] = "Update User Details";
}
<div class="profile">
    <div class="profile-picture">
        <a href=""><img src="/images/@Model.ProfileImage"></a>
        <br>
    </div>
    <div class="profile-content">
        <br />
        <div class="content-left">
            <form asp-action="Update">
                <ul>
                    <input hidden asp-for="UserId" />
                    <li><a>
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control inputClass" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control inputClass" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control inputClass" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control inputClass" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control inputClass" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control inputClass" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </a></li>
                    <li><a>
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" class="form-control inputClass" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </a></li>
                    <li style="text-align:center">
                        <a class="btn btn-info edit-user" asp-controller="Home" asp-action="Profile"
                            asp-route-id="@Model.UserId"><span class="entypo-ccw"></span>Go back</a>
                        <button class="btn btn-danger edit-user" type="submit"><span class="entypo-pencil"></span>Save
                            changes</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<style>
    [class*="entypo-"]:before {
        font-family: 'entypo', sans-serif;
    }


    body {
        background-image: url("/background-images/mainbackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .edit-user {
        color: white;
    }

    .edit-user:hover {
        color: grey;
    }

    .profile {
        height: 1200px;
        width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans condensed";
    }

    .profile-picture {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        top: -90px;
        text-align: center;
        border: 5px solid #fff;
    }

    .profile-picture span {
        font-size: 20pt;
    }

    .profile-picture small {
        font-size: 13pt;
        color: #cacaca;
    }

    .profile-picture img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    .profile-content {
        height: 60%;
        width: 100%;
    }

    .profile-content div {
        float: left;
    }

    .content-left {
        height: 300px;
        width: 45%;
        border-radius: 10px;
        margin-left: 28%;
    }

    .content-left ul {
        list-style: none;
        padding: 0;
        border: 1px solid #f8f8f8;
        border-radius: 10px;
        background-color: white;
    }

    .content-left ul li {
        padding: 15px;
        border-bottom: 1px solid #f8f8f8;
        background-color: white;
    }

    .content-left ul li:hover {
        transition: 0.5s;
        background: #f8f8f8;
    }

    .content-left ul li a {
        font-size: 14pt;
        color: #cacaca;
    }

    .content-left ul li span {
        font-size: 12pt;
        margin-right: 5px;
    }
</style>